.banner-welcome{
    display: flex;
    justify-content: center;
    align-items: center;

    /* padding: 1rem; */

    background-color: rgb(233, 233, 233);

    font-size: 2rem;
}

.banner-welcome--catchy-text{
    color: orangered;
    letter-spacing: 2px;
}